dist: xenial
sudo: false
language: python

python:
  - 3.6
  - 3.7
  - 3.8

matrix:
  fast_finish: true
  include:
  - python: 3.8
    env: TOXENV=flake8

install:
  - pip install tox tox-travis

script:
  - tox -r
